body {
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(1, 1, 55);
    border-bottom: 2px solid rgb(4, 63, 254);
    height: 15vh;
    transition: 0.5s;
}

.logo {
    display: flex;
    color: #fff;
    margin-left: 5vh;
    transition: 1s ease-in-out;
}

span {
    color: rgb(129, 255, 129);
    margin-left: 5px;
}

h2 {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    cursor: zoom-in;
}


a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(0, 174, 249);
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 0px;
    font-weight: bold;
    transition: 1s ease-in-out all;
    height: 5vh;
    margin-top: 3vh;
    display: flex;
    justify-content: flex-end;
    margin-left: 80vh;
}

a:hover {
    background: grey;
    border-radius: 5px;
}


h1 {
    text-align: center;
    color: rgb(0, 174, 249);
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 50px;
    margin-top: 10vh;
    font-weight: bolder;
    transition: 1s ease-in-out;
    cursor: grab;
}

h1:hover {
    color: rgb(13, 67, 90);
}

p {
    text-align: center;
    color: rgb(45, 174, 45);
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 30px;
    font-weight: lighter;
    transition: 1s ease-in-out;
    cursor: grabbing;
}

p:hover {
    color: rgb(13, 95, 13);
}


.container {
    width: 100%;
    background: rgb(100, 100, 100);
    height: 40vh;
}

.brand {
    display: flex;
    justify-content: center;
}

img {
    width: 20vh;
    border-radius: 100%;
    border: 5px solid #fff;
    margin-top: 2vh;
}

.brand-text {
    display: flex;
    justify-content: center;
}

h4 {
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80vh;
    background: rgba(253, 250, 250, 0.266);
    border-radius: 5px;
    height: 7vh;
    position: relative;
    bottom: 3vh;
    color: #fff;
    transition: 1s ease-in-out;
    cursor: alias;
}

h4:hover {
    background: rgba(0, 0, 0, 0.549);
}



@media (max-width: 900px) {
    h2 {
        font-size: 20px;
        display: flex;
    }

    span {
        display: flex;
    }

    a {
        margin-left: 0;
        font-size: 10px;
        display: flex;
        margin-right: 5px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }
}